<ol class="relative border-s border-gray-200 ml-5">
  <li class="mb-10 ms-4">
    <div
      class="absolute w-3 h-3 bg-gray-300 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900"
    >
    </div>
    <time class="mb-1 text-sm font-normal leading-none text-sky-300/75"
      ><a
        href="https://www.garpemotor.es/"
        class="rounded-full border border-white/10 justify-center items-center hover:bg-white/10 px-2 py-1"
        target="_blank"
        rel="noopener noreferrer">Garpe Motor</a
      > | 2016 - Actualidad</time
    >
    <h3 class="text-lg font-semibold text-yellow-200 ml-4">Mecánico</h3>
    <p class="mb-4 text-base font-normal text-gray-200 text-pretty ml-4">
      Diagnosis, reparación, sustitución de piezas y mantenimiento de vehículos.
    </p>
  </li>
  <li class="mb-10 ms-4">
    <div
      class="absolute w-3 h-3 bg-gray-300 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900"
    >
    </div>
    <time class="mb-1 text-sm font-normal leading-none text-sky-300/75">
      <a
        href="https://g.co/kgs/Fzjag3v"
        class="rounded-full border border-white/10 justify-center items-center hover:bg-white/10 px-2 py-1"
        target="_blank"
        rel="noopener noreferrer">Peluquería Barbas Vega</a
      > | 2018 - 2020</time
    >
    <h3 class="text-lg font-semibold text-yellow-200 ml-4">Peluquero</h3>
    <p class="mb-4 text-base font-normal text-gray-200 text-pretty ml-4">
      Lavado, corte, peinado y aplicación de protocolos COVID.
    </p>
  </li>
  <li class="ms-4">
    <div
      class="absolute w-3 h-3 bg-gray-300 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900"
    >
    </div>
    <time class="mb-1 text-sm font-normal leading-none text-sky-300/75"
      ><a
        href="https://www.heladoslaibenseastur.es/"
        class="rounded-full border border-white/10 justify-center items-center hover:bg-white/10 px-2 py-1"
        target="_blank"
        rel="noopener noreferrer">La Ibense Astur</a
      > | 2008 - 2017</time
    >
    <h3 class="text-lg font-semibold text-yellow-200 ml-4">Repartidor</h3>
    <p class="mb-4 text-base font-normal text-gray-200 text-pretty ml-4">
      Reparto de productos con camión frigorífico, mantenimiento del camión y
      las cámaras frigoríficas, realización de pedidos y descarga de los mismos
      con carretilla elevadora.
    </p>
  </li>
</ol>
