<header
  class="flex flex-col justify-between items-center py-3 px-4 w-full fixed top-0 start-0 border-b bg-black/20 backdrop-blur-md z-50"
>
  <nav
    class="flex flex-wrap justify-center gap-4 text-center text-xl font-medium text-white/90"
  >
    <a href="#top">Inicio</a>
    <a href="#experiencia">Experiencia</a>
    <a href="#proyectos">Proyectos</a>
    <!-- <a href="#sobre-mi">Sobre mí</a> -->
    <!-- <a href="#contacto">Contacto</a> -->
  </nav>
</header>
